.ant-select-selector {
  background-color: transparent !important;
}

.ant-select-selection-item,
.ant-select-selection-item-remove {
  color: white !important;
}

.ant-select-selection-search-input {
  color: white !important;
}

.ant-select .ant-select-selection-placeholder {
  color: #6a6a6a !important;
  font-style: italic !important;
}